.app {
  margin: 0 auto;
}

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1240px;
  margin: 40px auto 0;
  padding: 0 0 40px;
  gap: 40px;
}

.constructor {
  max-width: 600px;
  padding-top: 70px;
}

.ingredients {
  max-width: 600px;
}
